In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data1.csv")

In [4]:
df

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,245510,42521,873,United States
1,2,Ping An Insurance Group,Insurance,191509,20738,1460,China
2,3,ICBC,Banking,182794,45783,5110,China
3,4,China Construction Bank,Banking,172000,39282,4311,China
4,5,Agricultural Bank of China,Banking,153884,31293,4169,China
5,6,China Life Insurance,Insurance,144589,4648,776,China
6,7,Allianz,Insurance,136173,7756,1297,Germany
7,8,Bank of China,Banking,134045,27952,3739,China
8,9,JP Morgan Chase,Banking,129503,29131,3386,United States
9,10,AXA,Insurance,128011,3605,984,France
10,11,Fannie Mae,Investment Services,106437,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,102851,4954,630,India
12,13,Generali Group,Insurance,97128,1987,667,Italy
13,14,Bank of America,Banking,93753,17894,2819,United States
14,15,Citigroup,Banking,88839,11047,2260,United States
15,16,People's Insurance Company,Insurance,84290,2903,192,China
16,17,Credit Agricole,Banking,82958,3067,2399,France
17,18,BNP Paribas,Banking,81632,8052,3045,France
18,19,HSBC,Banking,80429,5229,2984,United Kingdom
19,20,Wells Fargo,Banking,80303,3301,1955,United States
20,21,State Farm,Insurance,78898,3738,299,United States
21,22,Nippon Life,Insurance,76984,3127,773,Japan
22,23,Munich Re,Insurance,74074,1379,364,Germany
23,24,Dai-ichi Life,Insurance,73841,3431,574,Japan
24,25,Banco Santander,Banking,73630,9639,1845,Spain
25,26,MetLife,Insurance,67842,5407,795,United States
26,27,Bank of Communications,Banking,67605,11409,1639,China
27,28,Freddie Mac,Investment Services,66228,7326,2627,United States
28,29,Legal and General Group,Insurance,63324,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,62752,448,343,Canada
30,31,Aviva,Insurance,62579,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,61185,3562,271,China
32,33,China Merchants Bank,Banking,60433,14107,1281,China
33,34,Zurich Insurance Group,Insurance,59001,3834,439,Switzerland
34,35,Manulife Financial,Insurance,58840,4377,691,Canada
35,36,Prudential Financial,Insurance,57033,448,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,56838,7329,3250,Japan
37,38,Prudential,Insurance,55973,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,54139,169,13,United States
39,40,Goldman Sachs,Investment Services,53498,9459,1163,United States
40,41,Industrial Bank,Banking,53313,9655,1209,China
41,42,Shanghai Pudong Development,Banking,52628,8443,1219,China
42,43,Morgan Stanley,Investment Services,52047,10996,1115,United States
43,44,State Bank of India,Banking,51919,3018,662,India
44,45,Tokio Marine Holdings,Insurance,51516,1526,232,Japan
45,46,AIA Group,Insurance,50359,5779,326,China
46,47,China Mensheng Banking,Banking,49076,4972,1065,China
47,48,Power Corporation of Canada,Insurance,48183,1525,493,Canada
48,49,Talanx,Insurance,46788,766,221,Germany
49,50,Lloyds Banking Group,Banking,14592,1882,1183,United Kingdom

In [5]:
df.notnull()

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True
32,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True
38,True,True,True,True,True,True,True
39,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True
42,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True
44,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True
46,True,True,True,True,True,True,True
47,True,True,True,True,True,True,True
48,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True

In [6]:
df.isnull()

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Rank                              0
Company                           0
Industry                          0
Revenue in (USD Million)          0
Net Income in (USD Millions)      0
Total Assest in (USD Millions)    0
Headquarters                      0
dtype: int64

In [8]:
df.drop_duplicates()

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,245510,42521,873,United States
1,2,Ping An Insurance Group,Insurance,191509,20738,1460,China
2,3,ICBC,Banking,182794,45783,5110,China
3,4,China Construction Bank,Banking,172000,39282,4311,China
4,5,Agricultural Bank of China,Banking,153884,31293,4169,China
5,6,China Life Insurance,Insurance,144589,4648,776,China
6,7,Allianz,Insurance,136173,7756,1297,Germany
7,8,Bank of China,Banking,134045,27952,3739,China
8,9,JP Morgan Chase,Banking,129503,29131,3386,United States
9,10,AXA,Insurance,128011,3605,984,France
10,11,Fannie Mae,Investment Services,106437,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,102851,4954,630,India
12,13,Generali Group,Insurance,97128,1987,667,Italy
13,14,Bank of America,Banking,93753,17894,2819,United States
14,15,Citigroup,Banking,88839,11047,2260,United States
15,16,People's Insurance Company,Insurance,84290,2903,192,China
16,17,Credit Agricole,Banking,82958,3067,2399,France
17,18,BNP Paribas,Banking,81632,8052,3045,France
18,19,HSBC,Banking,80429,5229,2984,United Kingdom
19,20,Wells Fargo,Banking,80303,3301,1955,United States
20,21,State Farm,Insurance,78898,3738,299,United States
21,22,Nippon Life,Insurance,76984,3127,773,Japan
22,23,Munich Re,Insurance,74074,1379,364,Germany
23,24,Dai-ichi Life,Insurance,73841,3431,574,Japan
24,25,Banco Santander,Banking,73630,9639,1845,Spain
25,26,MetLife,Insurance,67842,5407,795,United States
26,27,Bank of Communications,Banking,67605,11409,1639,China
27,28,Freddie Mac,Investment Services,66228,7326,2627,United States
28,29,Legal and General Group,Insurance,63324,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,62752,448,343,Canada
30,31,Aviva,Insurance,62579,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,61185,3562,271,China
32,33,China Merchants Bank,Banking,60433,14107,1281,China
33,34,Zurich Insurance Group,Insurance,59001,3834,439,Switzerland
34,35,Manulife Financial,Insurance,58840,4377,691,Canada
35,36,Prudential Financial,Insurance,57033,448,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,56838,7329,3250,Japan
37,38,Prudential,Insurance,55973,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,54139,169,13,United States
39,40,Goldman Sachs,Investment Services,53498,9459,1163,United States
40,41,Industrial Bank,Banking,53313,9655,1209,China
41,42,Shanghai Pudong Development,Banking,52628,8443,1219,China
42,43,Morgan Stanley,Investment Services,52047,10996,1115,United States
43,44,State Bank of India,Banking,51919,3018,662,India
44,45,Tokio Marine Holdings,Insurance,51516,1526,232,Japan
45,46,AIA Group,Insurance,50359,5779,326,China
46,47,China Mensheng Banking,Banking,49076,4972,1065,China
47,48,Power Corporation of Canada,Insurance,48183,1525,493,Canada
48,49,Talanx,Insurance,46788,766,221,Germany
49,50,Lloyds Banking Group,Banking,14592,1882,1183,United Kingdom

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            50 non-null     int64
 1   Company                         50 non-null     object
 2   Industry                        50 non-null     object
 3   Revenue in (USD Million)        50 non-null     int64
 4   Net Income in (USD Millions)    50 non-null     int64
 5   Total Assest in (USD Millions)  50 non-null     int64
 6   Headquarters                    50 non-null     object
dtypes: int64(4), object(3)
memory usage: 2.9+ KB

In [10]:
df.describe()

,Rank,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions)
count,50.00000,50.000000,50.000000,50.00000
mean,25.50000,85435.120000,9369.320000,1480.46000
std,14.57738,44689.154251,11101.187832,1282.83769
min,1.00000,14592.000000,169.000000,13.00000
25%,13.25000,56189.250000,3030.250000,588.00000
50%,25.50000,70736.000000,4963.000000,1024.50000
75%,37.75000,96284.250000,10660.750000,2183.75000
max,50.00000,245510.000000,45783.000000,5110.00000

In [25]:
var1=df.drop("Headquarters",axis=1)
print(var1.head())

   Rank                     Company      Industry  Revenue in (USD Million)  \
0     1    Transamerica Corporation  Conglomerate                  1.000000
1     2     Ping An Insurance Group     Insurance                  0.766146
2     3                        ICBC       Banking                  0.728406
3     4     China Construction Bank       Banking                  0.681662
4     5  Agricultural Bank of China       Banking                  0.603210

   Net Income in (USD Millions)  Total Assest in (USD Millions)
0                      2.986318                             873
1                      1.024096                            1460
2                      3.280161                            5110
3                      2.694548                            4311
4                      1.974895                            4169

In [12]:
print(df.ndim)

2

In [13]:
df.replace("Banking",1)

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,245510,42521,873,United States
1,2,Ping An Insurance Group,Insurance,191509,20738,1460,China
2,3,ICBC,1,182794,45783,5110,China
3,4,China Construction Bank,1,172000,39282,4311,China
4,5,Agricultural Bank of China,1,153884,31293,4169,China
5,6,China Life Insurance,Insurance,144589,4648,776,China
6,7,Allianz,Insurance,136173,7756,1297,Germany
7,8,Bank of China,1,134045,27952,3739,China
8,9,JP Morgan Chase,1,129503,29131,3386,United States
9,10,AXA,Insurance,128011,3605,984,France
10,11,Fannie Mae,Investment Services,106437,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,102851,4954,630,India
12,13,Generali Group,Insurance,97128,1987,667,Italy
13,14,Bank of America,1,93753,17894,2819,United States
14,15,Citigroup,1,88839,11047,2260,United States
15,16,People's Insurance Company,Insurance,84290,2903,192,China
16,17,Credit Agricole,1,82958,3067,2399,France
17,18,BNP Paribas,1,81632,8052,3045,France
18,19,HSBC,1,80429,5229,2984,United Kingdom
19,20,Wells Fargo,1,80303,3301,1955,United States
20,21,State Farm,Insurance,78898,3738,299,United States
21,22,Nippon Life,Insurance,76984,3127,773,Japan
22,23,Munich Re,Insurance,74074,1379,364,Germany
23,24,Dai-ichi Life,Insurance,73841,3431,574,Japan
24,25,Banco Santander,1,73630,9639,1845,Spain
25,26,MetLife,Insurance,67842,5407,795,United States
26,27,Bank of Communications,1,67605,11409,1639,China
27,28,Freddie Mac,Investment Services,66228,7326,2627,United States
28,29,Legal and General Group,Insurance,63324,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,62752,448,343,Canada
30,31,Aviva,Insurance,62579,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,61185,3562,271,China
32,33,China Merchants Bank,1,60433,14107,1281,China
33,34,Zurich Insurance Group,Insurance,59001,3834,439,Switzerland
34,35,Manulife Financial,Insurance,58840,4377,691,Canada
35,36,Prudential Financial,Insurance,57033,448,940,United States
36,37,Mitsubishi UFJ Financial Group,1,56838,7329,3250,Japan
37,38,Prudential,Insurance,55973,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,54139,169,13,United States
39,40,Goldman Sachs,Investment Services,53498,9459,1163,United States
40,41,Industrial Bank,1,53313,9655,1209,China
41,42,Shanghai Pudong Development,1,52628,8443,1219,China
42,43,Morgan Stanley,Investment Services,52047,10996,1115,United States
43,44,State Bank of India,1,51919,3018,662,India
44,45,Tokio Marine Holdings,Insurance,51516,1526,232,Japan
45,46,AIA Group,Insurance,50359,5779,326,China
46,47,China Mensheng Banking,1,49076,4972,1065,China
47,48,Power Corporation of Canada,Insurance,48183,1525,493,Canada
48,49,Talanx,Insurance,46788,766,221,Germany
49,50,Lloyds Banking Group,1,14592,1882,1183,United Kingdom

In [14]:
df.Rank.astype("int64")

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
Name: Rank, dtype: int64

In [15]:
df.dtypes

Rank                               int64
Company                           object
Industry                          object
Revenue in (USD Million)           int64
Net Income in (USD Millions)       int64
Total Assest in (USD Millions)     int64
Headquarters                      object
dtype: object

In [16]:
df.size

350

In [17]:
df.shape

(50, 7)

In [18]:
df.columns = df.columns.str.strip()

In [19]:
df['Revenue in (USD Million)'] = (df['Revenue in (USD Million)'] - df['Revenue in (USD Million)'].min()) / (df['Revenue in (USD Million)'].max() - df['Revenue in (USD Million)'].min())

In [20]:
df

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,1.000000,42521,873,United States
1,2,Ping An Insurance Group,Insurance,0.766146,20738,1460,China
2,3,ICBC,Banking,0.728406,45783,5110,China
3,4,China Construction Bank,Banking,0.681662,39282,4311,China
4,5,Agricultural Bank of China,Banking,0.603210,31293,4169,China
5,6,China Life Insurance,Insurance,0.562957,4648,776,China
6,7,Allianz,Insurance,0.526512,7756,1297,Germany
7,8,Bank of China,Banking,0.517296,27952,3739,China
8,9,JP Morgan Chase,Banking,0.497627,29131,3386,United States
9,10,AXA,Insurance,0.491166,3605,984,France
10,11,Fannie Mae,Investment Services,0.397739,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,0.382209,4954,630,India
12,13,Generali Group,Insurance,0.357426,1987,667,Italy
13,14,Bank of America,Banking,0.342810,17894,2819,United States
14,15,Citigroup,Banking,0.321530,11047,2260,United States
15,16,People's Insurance Company,Insurance,0.301830,2903,192,China
16,17,Credit Agricole,Banking,0.296062,3067,2399,France
17,18,BNP Paribas,Banking,0.290320,8052,3045,France
18,19,HSBC,Banking,0.285110,5229,2984,United Kingdom
19,20,Wells Fargo,Banking,0.284564,3301,1955,United States
20,21,State Farm,Insurance,0.278480,3738,299,United States
21,22,Nippon Life,Insurance,0.270191,3127,773,Japan
22,23,Munich Re,Insurance,0.257589,1379,364,Germany
23,24,Dai-ichi Life,Insurance,0.256580,3431,574,Japan
24,25,Banco Santander,Banking,0.255667,9639,1845,Spain
25,26,MetLife,Insurance,0.230601,5407,795,United States
26,27,Bank of Communications,Banking,0.229575,11409,1639,China
27,28,Freddie Mac,Investment Services,0.223612,7326,2627,United States
28,29,Legal and General Group,Insurance,0.211036,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,0.208559,448,343,Canada
30,31,Aviva,Insurance,0.207810,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,0.201773,3562,271,China
32,33,China Merchants Bank,Banking,0.198516,14107,1281,China
33,34,Zurich Insurance Group,Insurance,0.192315,3834,439,Switzerland
34,35,Manulife Financial,Insurance,0.191618,4377,691,Canada
35,36,Prudential Financial,Insurance,0.183793,448,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,0.182948,7329,3250,Japan
37,38,Prudential,Insurance,0.179202,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,0.171260,169,13,United States
39,40,Goldman Sachs,Investment Services,0.168484,9459,1163,United States
40,41,Industrial Bank,Banking,0.167683,9655,1209,China
41,42,Shanghai Pudong Development,Banking,0.164716,8443,1219,China
42,43,Morgan Stanley,Investment Services,0.162200,10996,1115,United States
43,44,State Bank of India,Banking,0.161646,3018,662,India
44,45,Tokio Marine Holdings,Insurance,0.159901,1526,232,Japan
45,46,AIA Group,Insurance,0.154890,5779,326,China
46,47,China Mensheng Banking,Banking,0.149334,4972,1065,China
47,48,Power Corporation of Canada,Insurance,0.145467,1525,493,Canada
48,49,Talanx,Insurance,0.139426,766,221,Germany
49,50,Lloyds Banking Group,Banking,0.000000,1882,1183,United Kingdom

In [21]:
df['Net Income in (USD Millions)'] = (df['Net Income in (USD Millions)']-df['Net Income in (USD Millions)'].mean())/df['Net Income in (USD Millions)'].std()

In [22]:
df

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,1.000000,2.986318,873,United States
1,2,Ping An Insurance Group,Insurance,0.766146,1.024096,1460,China
2,3,ICBC,Banking,0.728406,3.280161,5110,China
3,4,China Construction Bank,Banking,0.681662,2.694548,4311,China
4,5,Agricultural Bank of China,Banking,0.603210,1.974895,4169,China
5,6,China Life Insurance,Insurance,0.562957,-0.425299,776,China
6,7,Allianz,Insurance,0.526512,-0.145329,1297,Germany
7,8,Bank of China,Banking,0.517296,1.673936,3739,China
8,9,JP Morgan Chase,Banking,0.497627,1.780141,3386,United States
9,10,AXA,Insurance,0.491166,-0.519253,984,France
10,11,Fannie Mae,Investment Services,0.397739,0.219407,3985,United States
11,12,Life Insurance Corporation of India,Insurance,0.382209,-0.397734,630,India
12,13,Generali Group,Insurance,0.357426,-0.665003,667,Italy
13,14,Bank of America,Banking,0.342810,0.767907,2819,United States
14,15,Citigroup,Banking,0.321530,0.151126,2260,United States
15,16,People's Insurance Company,Insurance,0.301830,-0.582489,192,China
16,17,Credit Agricole,Banking,0.296062,-0.567716,2399,France
17,18,BNP Paribas,Banking,0.290320,-0.118665,3045,France
18,19,HSBC,Banking,0.285110,-0.372962,2984,United Kingdom
19,20,Wells Fargo,Banking,0.284564,-0.546637,1955,United States
20,21,State Farm,Insurance,0.278480,-0.507272,299,United States
21,22,Nippon Life,Insurance,0.270191,-0.562311,773,Japan
22,23,Munich Re,Insurance,0.257589,-0.719772,364,Germany
23,24,Dai-ichi Life,Insurance,0.256580,-0.534927,574,Japan
24,25,Banco Santander,Banking,0.255667,0.024293,1845,Spain
25,26,MetLife,Insurance,0.230601,-0.356928,795,United States
26,27,Bank of Communications,Banking,0.229575,0.183735,1639,China
27,28,Freddie Mac,Investment Services,0.223612,-0.184063,2627,United States
28,29,Legal and General Group,Insurance,0.211036,-0.658337,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,0.208559,-0.803637,343,Canada
30,31,Aviva,Insurance,0.207810,-0.520784,655,United Kingdom
31,32,China Pacific Insurance,Insurance,0.201773,-0.523126,271,China
32,33,China Merchants Bank,Banking,0.198516,0.426772,1281,China
33,34,Zurich Insurance Group,Insurance,0.192315,-0.498624,439,Switzerland
34,35,Manulife Financial,Insurance,0.191618,-0.449710,691,Canada
35,36,Prudential Financial,Insurance,0.183793,-0.803637,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,0.182948,-0.183793,3250,Japan
37,38,Prudential,Insurance,0.179202,-0.653202,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,0.171260,-0.828769,13,United States
39,40,Goldman Sachs,Investment Services,0.168484,0.008078,1163,United States
40,41,Industrial Bank,Banking,0.167683,0.025734,1209,China
41,42,Shanghai Pudong Development,Banking,0.164716,-0.083443,1219,China
42,43,Morgan Stanley,Investment Services,0.162200,0.146532,1115,United States
43,44,State Bank of India,Banking,0.161646,-0.572130,662,India
44,45,Tokio Marine Holdings,Insurance,0.159901,-0.706530,232,Japan
45,46,AIA Group,Insurance,0.154890,-0.323418,326,China
46,47,China Mensheng Banking,Banking,0.149334,-0.396113,1065,China
47,48,Power Corporation of Canada,Insurance,0.145467,-0.706620,493,Canada
48,49,Talanx,Insurance,0.139426,-0.774991,221,Germany
49,50,Lloyds Banking Group,Banking,0.000000,-0.674461,1183,United Kingdom

In [23]:
dummy = pd.get_dummies(df['Industry'])
merged = pd.concat([df,dummy],axis = 1)
merged.drop(['Industry'],axis = 1)
print(merged)

    Rank                              Company             Industry  \
0      1             Transamerica Corporation         Conglomerate
1      2              Ping An Insurance Group            Insurance
2      3                                 ICBC              Banking
3      4              China Construction Bank              Banking
4      5           Agricultural Bank of China              Banking
5      6                 China Life Insurance            Insurance
6      7                              Allianz            Insurance
7      8                        Bank of China              Banking
8      9                      JP Morgan Chase              Banking
9     10                                  AXA            Insurance
10    11                           Fannie Mae  Investment Services
11    12  Life Insurance Corporation of India            Insurance
12    13                       Generali Group            Insurance
13    14                      Bank of America              Banking
14    15                            Citigroup              Banking
15    16           People's Insurance Company            Insurance
16    17                      Credit Agricole              Banking
17    18                          BNP Paribas              Banking
18    19                                 HSBC              Banking
19    20                          Wells Fargo              Banking
20    21                           State Farm            Insurance
21    22                          Nippon Life            Insurance
22    23                            Munich Re            Insurance
23    24                        Dai-ichi Life            Insurance
24    25                      Banco Santander              Banking
25    26                              MetLife            Insurance
26    27               Bank of Communications              Banking
27    28                          Freddie Mac  Investment Services
28    29              Legal and General Group            Insurance
29    30         Brookfield Assest Management  Investment Services
30    31                                Aviva            Insurance
31    32              China Pacific Insurance            Insurance
32    33                 China Merchants Bank              Banking
33    34               Zurich Insurance Group            Insurance
34    35                   Manulife Financial            Insurance
35    36                 Prudential Financial            Insurance
36    37       Mitsubishi UFJ Financial Group              Banking
37    38                           Prudential            Insurance
38    39                     StoneX Group Inc  Investment Services
39    40                        Goldman Sachs  Investment Services
40    41                      Industrial Bank              Banking
41    42          Shanghai Pudong Development              Banking
42    43                       Morgan Stanley  Investment Services
43    44                  State Bank of India              Banking
44    45                Tokio Marine Holdings            Insurance
45    46                            AIA Group            Insurance
46    47               China Mensheng Banking              Banking
47    48          Power Corporation of Canada            Insurance
48    49                               Talanx            Insurance
49    50                 Lloyds Banking Group              Banking

    Revenue in (USD Million)  Net Income in (USD Millions)  \
0                   1.000000                      2.986318
1                   0.766146                      1.024096
2                   0.728406                      3.280161
3                   0.681662                      2.694548
4                   0.603210                      1.974895
5                   0.562957                     -0.425299
6                   0.526512                     -0.145329
7                   0.517296                      1.673936
8                   0.497627                      1.780141
9                   0.491166                     -0.519253
10                  0.397739                      0.219407
11                  0.382209                     -0.397734
12                  0.357426                     -0.665003
13                  0.342810                      0.767907
14                  0.321530                      0.151126
15                  0.301830                     -0.582489
16                  0.296062                     -0.567716
17                  0.290320                     -0.118665
18                  0.285110                     -0.372962
19                  0.284564                     -0.546637
20                  0.278480                     -0.507272
21                  0.270191                     -0.562311
22                  0.257589                     -0.719772
23                  0.256580                     -0.534927
24                  0.255667                      0.024293
25                  0.230601                     -0.356928
26                  0.229575                      0.183735
27                  0.223612                     -0.184063
28                  0.211036                     -0.658337
29                  0.208559                     -0.803637
30                  0.207810                     -0.520784
31                  0.201773                     -0.523126
32                  0.198516                      0.426772
33                  0.192315                     -0.498624
34                  0.191618                     -0.449710
35                  0.183793                     -0.803637
36                  0.182948                     -0.183793
37                  0.179202                     -0.653202
38                  0.171260                     -0.828769
39                  0.168484                      0.008078
40                  0.167683                      0.025734
41                  0.164716                     -0.083443
42                  0.162200                      0.146532
43                  0.161646                     -0.572130
44                  0.159901                     -0.706530
45                  0.154890                     -0.323418
46                  0.149334                     -0.396113
47                  0.145467                     -0.706620
48                  0.139426                     -0.774991
49                  0.000000                     -0.674461

    Total Assest in (USD Millions)    Headquarters  Banking  Conglomerate  \
0                              873   United States    False          True
1                             1460           China    False         False
2                             5110           China     True         False
3                             4311           China     True         False
4                             4169           China     True         False
5                              776           China    False         False
6                             1297         Germany    False         False
7                             3739           China     True         False
8                             3386   United States     True         False
9                              984          France    False         False
10                            3985   United States    False         False
11                             630           India    False         False
12                             667           Italy    False         False
13                            2819   United States     True         False
14                            2260   United States     True         False
15                             192           China    False         False
16                            2399          France     True         False
17                            3045          France     True         False
18                            2984  United Kingdom     True         False
19                            1955   United States     True         False
20                             299   United States    False         False
21                             773           Japan    False         False
22                             364         Germany    False         False
23                             574           Japan    False         False
24                            1845           Spain     True         False
25                             795   United States    False         False
26                            1639           China     True         False
27                            2627   United States    False         False
28                             779  United Kingdom    False         False
29                             343          Canada    False         False
30                             655  United Kingdom    False         False
31                             271           China    False         False
32                            1281           China     True         False
33                             439     Switzerland    False         False
34                             691          Canada    False         False
35                             940   United States    False         False
36                            3250           Japan     True         False
37                             516  United Kingdom    False         False
38                              13   United States    False         False
39                            1163   United States    False         False
40                            1209           China     True         False
41                            1219           China     True         False
42                            1115   United States    False         False
43                             662           India     True         False
44                             232           Japan    False         False
45                             326           China    False         False
46                            1065           China     True         False
47                             493          Canada    False         False
48                             221         Germany    False         False
49                            1183  United Kingdom     True         False

    Insurance  Investment Services
0       False                False
1        True                False
2       False                False
3       False                False
4       False                False
5        True                False
6        True                False
7       False                False
8       False                False
9        True                False
10      False                 True
11       True                False
12       True                False
13      False                False
14      False                False
15       True                False
16      False                False
17      False                False
18      False                False
19      False                False
20       True                False
21       True                False
22       True                False
23       True                False
24      False                False
25       True                False
26      False                False
27      False                 True
28       True                False
29      False                 True
30       True                False
31       True                False
32      False                False
33       True                False
34       True                False
35       True                False
36      False                False
37       True                False
38      False                 True
39      False                 True
40      False                False
41      False                False
42      False                 True
43      False                False
44       True                False
45       True                False
46      False                False
47       True                False
48       True                False
49      False                False

In [24]:
df['Headquarters'].replace(["United States","China","Germany","France"],[1,2,3,4])

0                  1
1                  2
2                  2
3                  2
4                  2
5                  2
6                  3
7                  2
8                  1
9                  4
10                 1
11             India
12             Italy
13                 1
14                 1
15                 2
16                 4
17                 4
18    United Kingdom
19                 1
20                 1
21             Japan
22                 3
23             Japan
24             Spain
25                 1
26                 2
27                 1
28    United Kingdom
29            Canada
30    United Kingdom
31                 2
32                 2
33       Switzerland
34            Canada
35                 1
36             Japan
37    United Kingdom
38                 1
39                 1
40                 2
41                 2
42                 1
43             India
44             Japan
45                 2
46                 2
47            Canada
48                 3
49    United Kingdom
Name: Headquarters, dtype: object